
name<input type = "text" id="name" ><br>
email<input type = "text" id="username" ><br>
password<input type = "password" id="password" ><br>
<input type = "button" value="Create Account" id="createuser">

<p id="creationResults"></p>

{{{page.script}}}
{{{page.script2}}}
